@media screen and (max-width: 1200px) {
  .before-wrapper .head-wrapper h1 {
    top: 20%;
    left: 50%;
    font-size: 4.5rem;
    text-align: center;
  }
  .before-wrapper .head-wrapper .header-btn {
    top: 30%;
    left: 50%;
    display: block;
    margin: 0 auto;
  }
  .before-wrapper .head-wrapper h2 {
    font-size: 4rem;
  }
  .before-wrapper .overview-wrapper {
    margin: 50px auto 0;
    padding: 50px 0;
  }
  .before-wrapper .overview-wrapper h2 {
    font-size: 3.2rem;
  }
  .before-wrapper .overview-wrapper p {
    width: 90%;
    font-size: 1.6rem;
    margin: 0 auto;
  }
  .before-wrapper .message-wrapper {
    margin: 50px auto 0;
  }
  .before-wrapper .message-wrapper .message-text h3 {
    font-size: 2.8rem;
  }
  .before-wrapper .message-wrapper .message-text p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .before-wrapper .declear-wrapper {
    margin: 50px auto 0;
  }
  .before-wrapper .declear-wrapper .declear-container {
    padding: 20px 0;
  }
  .before-wrapper .declear-wrapper .declear-container h2 {
    font-size: 2.6rem;
  }
  .before-wrapper .declear-wrapper .declear-container h3 {
    font-size: 2.4rem;
  }
  .before-wrapper .declear-wrapper .declear-container .declear-text {
    font-size: 1.8rem;
  }
  .after-wrapper .goal-wrapper h2 {
    padding: 50px 0;
  }
  .after-wrapper .goal-wrapper .goals-wrapper p {
    padding-bottom: 100px;
  }
  .after-wrapper .shere-wrapper {
    margin: 50px auto 0;
  }
  .after-wrapper .shere-wrapper h2 {
    font-size: 2.2rem;
  }
  .after-wrapper .shere-wrapper .sns-icons li {
    width: 80px;
    height: 80px;
  }
  .after-wrapper .shere-wrapper .sns-icons li .fab {
    font-size: 4.5rem;
  }
  .after-wrapper .last-message-wrapper {
    margin: 50px auto 0;
  }
  .after-wrapper .last-message-wrapper .swiper-container {
    height: 350px;
  }
}

@media screen and (max-width: 800px) {
  .before-wrapper .head-wrapper h1 {
    padding: 50px 0;
    font-size: 3.2rem;
    text-align: center;
  }
  .before-wrapper .head-wrapper .header-btn {
    display: block;
    margin: 0 auto;
  }
  .before-wrapper .head-wrapper h2 {
    font-size: 3rem;
    padding: 50px 0;
  }
  .before-wrapper .overview-wrapper {
    margin: 50px auto 0;
    padding: 50px 0;
  }
  .before-wrapper .overview-wrapper h2 {
    font-size: 3.2rem;
  }
  .before-wrapper .overview-wrapper p {
    width: 90%;
    font-size: 1.6rem;
    margin: 0 auto;
  }
  .before-wrapper .message-wrapper {
    margin: 50px auto 0;
    text-align: center;
  }
  .before-wrapper .message-wrapper .message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .before-wrapper .message-wrapper .message-image {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  .before-wrapper .message-wrapper .message-text {
    padding: 30px 0;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .before-wrapper .message-wrapper .message-text h3 {
    font-size: 2.6rem;
    width: 90%;
    margin: 0 auto 20px;
  }
  .before-wrapper .message-wrapper .message-text p {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .before-wrapper .declear-wrapper {
    margin: 50px auto 0;
    width: 80%;
  }
  .before-wrapper .declear-wrapper .declear-container {
    padding: 20px 0;
  }
  .before-wrapper .declear-wrapper .declear-container h2 {
    font-size: 1.6rem;
    padding: 10px;
  }
  .before-wrapper .declear-wrapper .declear-container h3 {
    font-size: 1.4rem;
  }
  .before-wrapper .declear-wrapper .declear-container .declear-text {
    font-size: 1.6rem;
  }
  .before-wrapper .declear-wrapper .declear-container .declear-btn {
    padding: 10px 30px;
  }
  .after-wrapper .goal-wrapper h2 {
    padding: 50px 0;
    font-size: 3rem;
  }
  .after-wrapper .goal-wrapper p {
    font-size: 3.5rem;
    padding-bottom: 100px;
  }
  .after-wrapper .shere-wrapper {
    margin: 50px auto 0;
  }
  .after-wrapper .shere-wrapper h2 {
    font-size: 2rem;
  }
  .after-wrapper .shere-wrapper .sns-icons li {
    width: 60px;
    height: 60px;
    margin: 0 15px;
  }
  .after-wrapper .shere-wrapper .sns-icons li .fab {
    font-size: 3.2rem;
  }
  .after-wrapper .last-message-wrapper {
    width: 80%;
    margin: 50px auto 0;
  }
  .after-wrapper .last-message-wrapper h2 {
    font-size: 2rem;
  }
  .after-wrapper .last-message-wrapper .swiper-container {
    height: 200px;
  }
  footer {
    margin-top: 30px;
  }
  footer p {
    font-size: 1.2rem;
  }
}
